body {
  font-family: 'Aeonik', sans-serif;
  padding: 0!important;
  margin: 0!important;
}

h1,h2,h3,h4,h6 {
  font-family: 'PPFormula', serif;
  font-weight: 900;
  color: #232366;
}

p {
  font-family: 'Aeonik', sans-serif;
  font-weight: 300;
}
